/*https://www.youtube.com/watch?v=oZa2Ut8u2S0*/
* {
    margin: 0;
    padding: 0;
}

#menu {
    margin: auto;
    width: 500px;
}

ul {
    list-style: none;
}

.nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

.nav {
    display: flex;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

/*.menu ul {
    display:flex;
    list-style:none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    background-color:#2e518b;
}

.menu ul a {
 display:block;
 color:#fff;
 text-decoration:none;
 font-weight:400;
 font-size:15px;
 padding:10px;
 font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 text-transform:uppercase;
 letter-spacing:1px;
}*/

